.animation div {
    transform: translateX(1000px);
    animation: anim-entete 1s both cubic-bezier(0,1.19,.31,1.23);
}

@keyframes anim-entete{
    0% {
        transform:translateX(500px);
       
    }
    50%{
        transform: rotateY(360deg);
        transform: rotateZ(720deg);
        
    }
    100%{
        transform:translateX(0);
        transform: rotateY(0deg);
        transform: rotateZ(0deg);
    }
}

$columns:5;
@for $i from 1 through $columns{
    .animation div:nth-of-type(#{$i})
    {
        animation-delay:($i);
    }
}

/*--------------------------------------------------------------------------------
Animation de la section .principal
---------------------------------------------------------------------------------*/
@include desktop{
.principal h3:nth-of-type(1)
{
animation: anim-1 1s .5s both;
}

.principal h3:nth-of-type(2)
{
animation: anim-2 1s .5s both;
}

.principal h3:nth-of-type(3)
{
animation: anim-3 1s .5s both;
}




@keyframes anim-1 {
    0%{transform: translateY(-500px);}
    100%{transform: translate(0);}
}

@keyframes anim-2 {
    0%{transform: translateX(-800px);}
    25%{ transform: rotateZ(360deg);}
    100%{transform: opacity(0);}
}


@keyframes anim-3 {
    0%{transform: translateY(500px);}
    100%{transform: translate(0);}
}
}